---
kind: article
priority: 0.7
url: casamento-thais-e-alex
title: Casamento de Thaís e Alex
excerpt: Com exclusividade, a história de um alemão que se apaixonou por uma brasileira. Casamento real realizado na Riviera de São Lourenço.
image: casamento-thais-e-alex/extra 8 - casal
created_at: 2013-02-02
updated_at: 2013-02-19
author_name: Andressa Carrara
author_uri: 107186646809115232165
tags:
  - Casamentos Reais
---

markdown:
  Pessoal essa é a história do casamento da Thaís com o Alex, o amor entre uma brasileira e um alemão. Quem acompanha o site, já leu sobre convidados estrangeiros, e agora temos a oportunidade de mostrar alguns detalhes da teoria na prática.

  O Alex veio ao Brasil a trabalho e já vive há 2 anos aqui. Amigos em comum resolveram apresentá-lo à Thaís, que como típica brasileira, rs, se atrasou "ligeiramente" para o encontro, mandando a mensagem "Estou chegando" no celular do amigo para que ele distraísse o Alex. Acostumado com a pontualidade européia, o Alex imaginou que ela tivesse desistido do encontro, quando na verdade era apenas uma incompatibilidade de hábitos. Com muita paciência e jogo de cintura, ainda nessa mesma noite, os amigos conseguiram apresentar o casal.

  Como vocês verão abaixo, essas diferenças só enriqueceram o relacionamento dos dois e resultaram num casamento emocionante para brasileiros e alemães.

  A cerimônia aconteceu no Brasil, no Restaurante Gaiana, na Riviera de São Lourenço - SP. Até considerando a logísitca de trazer convidados de fora, foi um casamento mais íntimo, para os familiares e amigos mais próximos. A família do noivo chegou dias antes e se hospedou no mesmo hotel do casal.

  A noiva é espírita, e o noivo vem de uma tradição católica. A cerimônia essencialmente seguiu o ritual espírita, mas com elementos diversos, quase ecumênica. A ideia foi que o celebrante junto com todos os convidados abençoassem a união, mandando vibrações positivas para o casal.

figure
  img.half src="//fotos.casamentodeaaz.com.br/3-casamento-na-praia-com-arvores.jpg" alt="Ambiente de casamento com praia e árvores"
  img.half src="//fotos.casamentodeaaz.com.br/4-detalhe-enfeite-de-elefante.jpg" alt="Elefante"
  img src="//fotos.casamentodeaaz.com.br/8-detalhes-pomba-branca.jpg" alt="Pomba branca"
figure
  img src="//fotos.casamentodeaaz.com.br/13-noivos-e-partitura.jpg" alt="Partitura musical com noivos de fundo"

markdown:
  Após as entradas oficiais de padrinhos, noivo, noiva, e alianças, uma das madrinhas do casal fez uma introdução, deu as boas vindas aos convidados e explicou como decorreria a cerimônia. Detalhe: tudo em inglês. O celebrante fez seu discurso e suas orações em português, e uma amiga do casal fez a tradução para o alemão. Houve a troca das alianças, e a Thaís e o Alex leram como um jogral um texto de autoria deles, o "Poema do Casal".

  No geral, tanto a família do Alex como da própria Thaís compreenderiam perfeitamente tudo em inglês. Porém os noivos fizeram questão de no momento da cerimônia ouvir as palavras que consagram o casamento em suas línguas mães.

  Ao fim da cerimônia, é tradição na Alemanha que o casal corte um coração desenhando num lençol e atravessem por esse caminho que eles abriram juntos.

figure
  img src="//fotos.casamentodeaaz.com.br/11-noivos-cortando-o-coracao-de-lencol.jpg" alt="Casal cortando o coração de lençol"
  img src="//fotos.casamentodeaaz.com.br/2-casal-passando-pelo-coracao-de-lencol.jpg" alt="Casal passando pelo coração de lençol"

markdown:
  A recepção foi tipicamente brasileira, teve banda ao vivo tocando exclusivamente músicas nacionais. A ideia era justamente apresentar o Brasil, que é tão conhecido lá fora por suas festas, principalmente aos convidados estrangeiros. Inclusive a "primeira dança do casal" foi um samba de gafieira muito bem ensaiado.

figure
 img src="//fotos.casamentodeaaz.com.br/12-Noivos-dancando.jpg" alt="Casal dançando samba de gafieira"

markdown:
  Nas mesas havia o cardápio personalizado com os nomes de quem deveria ocupar aqueles lugares. O menu foi escrito em português e em inglês, para que todos conseguissem compreender quais eram as comidas servidas.

figure
  img src="//fotos.casamentodeaaz.com.br/6-detalhe-menu-na-mesa.jpg" alt="Menu em cima da mesa"

markdown:
  É tradição na Alemanha, durante o jantar, que os convidados façam discursos aos noivos, especialmente os pais e padrinhos. Todos que falaram optaram pelo inglês. Nesse caso não houve uma tradução oficial, os parentes da noiva que aderiram à tradição, fizeram uma versão resumida em português da sua fala, mas nada que atrapalhasse o entendimento dos demais convidados.

figure
  img src="//fotos.casamentodeaaz.com.br/9-discurso-dos-convidados.jpg" alt="Discurso dos convidados"

markdown:
  O Alex fez uma surpresa para a Thaís, sendo a última pessoa a discursar, ele contou brevemente e história que vocês leram acima de como eles se conheceram, e cantou a música "When you say nothing at all" em homenagem para a noiva.

figure
  img.half src="//fotos.casamentodeaaz.com.br/1-beijos-dos-noivos-apos-homenagem.jpg" alt="Beijo após homenagem"
  img.half src="//fotos.casamentodeaaz.com.br/10-noivo-falando.jpg" alt="Homenagem do Noivo"

markdown:
  O casamento que começou com o entardecer acabou altas horas da madrugada, com uma alegria contagiante. Foi muito acolhedor, todos puderem participar com seus costumes, e presenciar o amor entre a Thaís e o Alex.

== render 'video', :vimeo => 58465172
