---
kind: article
priority: 0.7
url: definindo-o-orcamento-do-casamento
title: 'Definindo o orçamento: O valor de um sonho'
excerpt: Não importa o tamanho do seu orçamento, confira dicas para evitar confusões e aproveite nossa planilha de custos para organizar as finanças do evento.
image: casal/159-800x533
created_at: 2013-01-28
updated_at: 2013-02-19
author_name: Andressa Carrara
author_uri: 107186646809115232165
tags:
  - Planejamento
  - Orçamento
---

markdown:
  Quanto mais os noivos se envolvem com o assunto _casamento_, mais eles descobrem o quão caro esse sonho pode custar. Referências chegam de todos os lados, amigos que já casaram, pesquisa dos fornecedores, indicações, e no geral em vez de ajudar eles só aumentam o peso na consciência caso falte algum _ítem obrigatório_.

  Mas, o casal deve manter a calma, __não existem ítens obrigatórios__.

  Comecem estipulando um valor máximo e definindo o estilo do casamento, isso ajudará a priorizar onde efetivamente deverão dedicar mais do seu orçamento. Mesmo a festa não é obrigatória. Se o casamento acontecer no fim da tarde, no lugar de oferecer almoço ou janta, que são serviços de buffet mais caros, os noivos podem fazer um brunch, ou ainda, apenas brindar a celebração com bolo e champagne num encontro de menor duração.

  Existem vários caminhos para contornar os altos custos. __Escolher uma data com baixa demanda de casamentos, como o Carnaval ou os feriados prolongados ajuda a negociar com buffet's__. Existem também sites de compra coletiva especializados em produtos e serviços voltados exclusivamente para o dia do casamento.

  Outra dica é nunca contratar um serviço sem antes ter pesquisado outros do mesmo setor. __Orcem pelo menos 3 para cada serviço que precisarem contratar__. Vale pedir desconto à vista, parcelamento, mas comparem sempre a qualidade e considerem a empatia que você teve com o profissional. Cada empresa tem seus limites financeiros também, e forçar um valor só por causa da concorrência abre margem para criar um clima desconfortável entre os noivos e quem estará trabalhando para eles nesse dia tão especial.

  Ao entregar os convites, muitos casais recebem presentes em dinheiro, ou padrinhos se disponibilizam para pagar algum dos serviços do casamento. Nesse caso dividam com essas pessoas seus desejos e ajustem dentro das possibilidades de cada um. Parece clichê, mas no final tudo dará certo.
