---
kind: article
priority: 0.7
url: convidados-estrangeiros
title:  Convidados estrangeiros, o que fazer?
excerpt: Descubra quais providências os noivos devem adotar quando a lista de convidados abrange pessoas de diversas nacionalidades, culturas e tradições.
created_at: 2014-03-10
author_name: Andressa Carrara
author_uri: 107186646809115232165
tags:
  - Convites
---

markdown:
  O seu casamento não precisa ser entre nacionalidades diferentes para ter convidados estrangeiros. Se os noivos já fizeram intercâmbio, viagens, trabalham em multinacionais, a chance de ter pessoas de outros países na lista de convidados aumenta, e alguns cuidados são essenciais. 

  Como já falamos aqui no site, o *Save the Date* ganha uma importância muito maior para esses convidados afim deles se organizarem quanto as passagens aéreas, reservas de hotel e todos os demais detalhes da viagem. Nesse caso ele pode vir acompanhado de um "Guia de Viagem" com indicações de hotéis, restaurantes e passeios turísticos. Provavelmente esse grupo de pessoas chegará dias antes do casamento, e o ideal é que os noivos reservem na agenda um momento para recepcioná-lo.

  Tanto o *Save the Date* como o convite oficial deverão ser adaptados. Os noivos, por conhecerem cada convidado estrangeiro, podem optar por uma versão única em inglês, ou convites individuais na língua de cada pessoa.  

  Para casamentos mistos, além desses cuidados, é importante verificar a necessidade de tradução simultânea da cerimônia religiosa, e a compatibildiade das tradições de ambos os lados.

  Em situações menos extremas, alguns convidados podem vir de outros Estados, e não de outros países. Nesse caso, apesar da língua ser uma só, vale a mesma dedicação. Às vezes são tios, primos, avós, que participaram ativamente da infância e adolescência do casal. Talvez hoje vocês conversem com essas pessoas pelo Facebook, e pelos telefonemas no aniversário e no Natal.    

  Nessa nova dinâmica de se relacionar, conseguimos manter contato com quem está longe, e não duvide, mesmo que atualmente eles morem numa região mais afastada, essas pessoas guardam um carinho especial por vocês e farão de tudo para participarem do seu casamento.