---
kind: article
priority: 0.7
url: casamento-thais-e-alex
title: Casamento de Thaís e Alex
excerpt: Com exclusividade, a história de um alemão que se apaixonou por uma brasileira. Casamento real realizado na Riviera de São Lourenço.
image: casamento-thais-e-alex/extra 8 - casal
created_at: 2013-02-02
updated_at: 2013-02-19
author_name: Andressa Carrara
author_uri: 107186646809115232165
tags:
  - Casamentos Reais
---

markdown:
  Pessoal essa é a história do casamento da Thaís com o Alex, o amor entre uma brasileira e um alemão. Quem acompanha o site, já leu sobre convidados estrangeiros, e agora temos a oportunidade de mostrar alguns detalhes da teoria na prática.

  O Alex veio ao Brasil a trabalho e já vive há 2 anos aqui. Amigos em comum resolveram apresentá-lo à Thaís, que como típica brasileira, rs, se atrasou "ligeiramente" para o encontro, mandando a mensagem "Estou chegando" no celular do amigo para que ele distraísse o Alex. Acostumado com a pontualidade européia, o Alex imaginou que ela tivesse desistido do encontro, quando na verdade era apenas uma incompatibilidade de hábitos. Com muita paciência e jogo de cintura, ainda nessa mesma noite, os amigos conseguiram apresentar o casal.

  Como vocês verão abaixo, essas diferenças só enriqueceram o relacionamento dos dois e resultaram num casamento emocionante para brasileiros e alemães.

  A cerimônia aconteceu no Brasil, no Restaurante Gaiana, na Riviera de São Lourenço - SP. Até considerando a logísitca de trazer convidados de fora, foi um casamento mais íntimo, para os familiares e amigos mais próximos. A família do noivo chegou dias antes e se hospedou no mesmo hotel do casal.

  A noiva é espírita, e o noivo vem de uma tradição católica. A cerimônia essencialmente seguiu o ritual espírita, mas com elementos diversos, quase ecumênica. A ideia foi que o celebrante junto com todos os convidados abençoassem a união, mandando vibrações positivas para o casal.

  <%= figure_render( ['casamento-thais-e-alex/foto 01','casamento-thais-e-alex/foto 02', 'casamento-thais-e-alex/foto 03'], nil, 'half-one' ) %>

  <%= figure_render('casamento-thais-e-alex/foto 04') %>

  Após as entradas oficiais de padrinhos, noivo, noiva, e alianças, uma das madrinhas do casal fez uma introdução, deu as boas vindas aos convidados e explicou como decorreria a cerimônia. Detalhe: tudo em inglês. O celebrante fez seu discurso e suas orações em português, e uma amiga do casal fez a tradução para o alemão. Houve a troca das alianças, e a Thaís e o Alex leram como um jogral um texto de autoria deles, o "Poema do Casal".

  No geral, tanto a família do Alex como da própria Thaís compreenderiam perfeitamente tudo em inglês. Porém os noivos fizeram questão de no momento da cerimônia ouvir as palavras que consagram o casamento em suas línguas mães.

  Ao fim da cerimônia, é tradição na Alemanha que o casal corte um coração desenhando num lençol e atravessem por esse caminho que eles abriram juntos.

  <%= figure_render(['casamento-thais-e-alex/coracao 01', 'casamento-thais-e-alex/coracao 03']) %>

  A recepção foi tipicamente brasileira, teve banda ao vivo tocando exclusivamente músicas nacionais. A ideia era justamente apresentar o Brasil, que é tão conhecido lá fora por suas festas, principalmente aos convidados estrangeiros. Inclusive a "primeira dança do casal" foi um samba de gafieira muito bem ensaiado.

  <%= figure_render('casamento-thais-e-alex/danca 02') %>

  Nas mesas havia o cardápio personalizado com os nomes de quem deveria ocupar aqueles lugares. O menu foi escrito em português e em inglês, para que todos conseguissem compreender quais eram as comidas servidas.

  <%= figure_render('casamento-thais-e-alex/foto 15') %>

  É tradição na Alemanha, durante o jantar, que os convidados façam discursos aos noivos, especialmente os pais e padrinhos. Todos que falaram optaram pelo inglês. Nesse caso não houve uma tradução oficial, os parentes da noiva que aderiram à tradição, fizeram uma versão resumida em português da sua fala, mas nada que atrapalhasse o entendimento dos demais convidados.

  <%= figure_render('casamento-thais-e-alex/montagem 03') %>

  O Alex fez uma surpresa para a Thaís, sendo a última pessoa a discursar, ele contou brevemente e história que vocês leram acima de como eles se conheceram, e cantou a música "When you say nothing at all" em homenagem para a noiva.

  <%= figure_render(['casamento-thais-e-alex/homenagem 03', 'casamento-thais-e-alex/homenagem 01'], nil, 'half') %>

  O casamento que começou com o entardecer acabou altas horas da madrugada, com uma alegria contagiante. Foi muito acolhedor, todos puderem participar com seus costumes, e presenciar o amor entre a Thaís e o Alex.

  <%= video_vimeo('58465172') %>
    
# TODO: Permitir que seja inserido imagens no meio do post
