---
kind: article
priority: 0.7
url: o-que-escrever-no-convite
title: O que escrever no convite de casamento?
excerpt: Todos parecem iguais, mas o texto do convite do seu casamento não precisa ser clichê. Entenda as principais diferenças entre um convite moderno e um tradicional.
created_at: 2014-02-15
author_name: Andressa Carrara
author_uri: 107186646809115232165
tags:
  - Convites
---

markdown:
  Tradicionalmente, os anfitriões de uma festa de casamento não eram os noivos, mas sim os pais da noiva. Com o passar dos anos as festas passaram a ser de responsabilidade dos dois lados da família, tanto da noiva como do noivo. E atualmente, com os casamentos acontecendo com pessoas cada vez mais maduras, os próprios noivos já têm condições de arcar sozinhos com os custos do evento.

  Os convites foram evoluindo junto com essa dinâmica. A princípio os pais da noiva convidavam para o casamento da filha, depois ambos os pais convidavam para o casamento dos seus filhos. Assim surgiu a tradição de incluir os nomes deles no convite de casamento. 

  Ex.:
  Maria Antônia das Graças Lourenço e Felipe Lourenço
  Rosa Gonçalves Pereira e José Luiz Pereira

  Convidam para o casamento de seus filhos

  Marta & Bruno

  Hoje em dia alguns casais optam por manter o nome dos pais no convite, como uma homenagem, um carinho, independente de terem recebido ou não alguma ajuda financeira deles.
  Ex.:
  Marta & Bruno

  Com a bênção de seus pais

  Maria Antônia das Graças Lourenço e Felipe Lourenço
  Rosa Gonçalves Pereira e José Luiz Pereira

  Cada família é um caso, em divórcios, apesar de existir a opção de colocar nome de pais, madrastas, padrastos, tem casais que optam por não colocar nenhum nome para não gerar desconfortos na família. Quando um pai ou uma mãe já é falecido, é possível incluí-lo no convite com a expressão em latim “in memorian” ao lado do nome. 

  Mas esse não é um item obrigatório. O convite pode ser apenas em nome do casal, sem mencionar os pais. Não existe uma regra exata, o convite tem que atender ao contexto do seu casamento. Tem casais que gostam de incluir uma frase, pode ser um poema, um trecho do escritor preferido, algo que faça sentido na história dos noivos. 

  Dependendo do estilo do casamento, além da hora e local da cerimônia e a indicação se haverá ou não uma recepção, é necessário incluir o “Dress Code” nas informações do convite. Não me refiro apenas aos casamentos muito formais, onde o traje de gala é obrigatório. Alguns noivos, que optam casar na praia, por exemplo, pedem para todos os convidados irem de branco (cor que geralmente deve ser evitada para dar um maior destaque à noiva). Outros fazem casamentos temáticos. Então dependendo da sua situação essa é uma informação muito útil.

  A dica para os noivos é apenas deixar claro qual o critério foi adotado para não surpreender negativamente ninguém. Para os casamentos modernos em que o convite é feito em nome dos próprios noivos, uma conversa com os pais explicando esse critério ajuda a evitar mágoas.

  E você, passaram ou estão em alguma saia justa na hora de definir o convite? Compartilhem com a gente, mandem suas dúvidas e sugestões!

# TODO: Formatar exemplos via HTML ou criar imagem
