---
kind: article
priority: 0.7
url: escolhendo-os-convidados
title: Escolhendo os convidados
excerpt: Quais pessoas não podem deixar de receber o convite? Confira as dicas para elaborar uma lista completa, sem constrangimentos nem surpresas na hora da festa.
image: casal/blogferbru-52_thumb
created_at: 2013-01-28
updated_at: 2013-02-19
author_name: Andressa Carrara
author_uri: 107186646809115232165
tags:
  - Convites
---

markdown:
  Ao dar início aos preparativos para o casamento,vocês perceberão que uma pergunta muito freqüente feita pelos fornecedores é "Quantos convidados?". É um momento delicado, mas não definitivo. Se os noivos estabelecerem um critério ninguém ficará magoado em não receber o convite.

  Façam primeiramente três listas: "Família do Noivo", "Família da Noiva" e "Amigos". Nós sabemos que existem sim pessoas mais ligadas à vida do casal, e por conta disso, convidados mais importantes do que outros. Também vale subdividir essas listas em grupos de acordo com a relevância.

  Apesar da festa ser do casal, para definir quais familiares devem ser convidados, a participação dos pais será muito bem vinda, principalmente se eles ajudarão com os custos da festa. Cada família é um caso, mas é um gesto delicado envolver sobretudo as mães nos preparativos, elas se sentirão úteis, felizes em contribuir.

  Nem todos os nomes da lista efetivamente receberão o convite. Neste momento, ela funciona como uma prévia para que os noivos saibam a dimensão que o casamento deles terá, afinal é totalmente diferente organizar um evento para 100, 200 ou 300 pessoas. Numa franca conversa, essa também será a ocasião para os noivos ajustarem o orçamento ao número de convidados e ao estilo da festa.

  Talvez vocês optem por fazer algo mais elaborado para um menor número de pessoas, ou uma celebração mais simples e chamar todo mundo. Íntimo ou badalado, o importante é que o casamento siga o perfil dos noivos, deixando tanto eles como os próprios convidados à vontade.

  Quando efetivamente o casal tiver de fechar a relação de convidados para mandar fazer os convites, vale refletir sobre familiares mais afastados, como primos de segundo, terceiro grau e colegas de trabalho. O importante é que essa decisão seja válida tanto para o lado da noiva, como para o lado do noivo. Isso evita um clima negativo com pessoas enciumadas próximo ao casamento.

  Vale lembrar que no caso da recepção, buffet's no geral, crianças acima de 6 anos contam como pagantes, e sempre tem a namorada do amigo, ou aquela prima que resolve apresentar o namorado no seu casamento para a família. Então calcular um número acima evita problemas no decorrer do evento.