---
kind: article
priority: 0.7
url: save-the-date
title: Save the Date - guarde essa dica
excerpt: Save the Date, ou Reserve essa Data é a evolução dos pré-convites e vem com versões muito mais criativas para ajudar na organização do casamento.
created_at: 2014-03-10
author_name: Andressa Carrara
author_uri: 107186646809115232165
tags:
  - Convites
---

markdown:
  A tradição começou no Estados Unidos, com o envio de pré convites impressos, apenas para divulgar a data da cerimônia aos convidados, ajudando-os a se organizarem para o evento. No Brasil, com o nome de Save the Date, esse hábito ganhou até produções cinematográficas.

  Essencialmente a função do Save the Date é ajudar na organização dos convidados e garantir a presença deles ao evento. Enviado de 6 a 4 meses antes do casamento, o convidado já poderá incluir o evento na sua agenda, evitando que ao receber o convite ela alegue já ter outro compromisso para o mesmo dia. Inclusive independente do estilo do Save the Date é importante incluir a frase "Aguarde seu Convite" para que os mais distraídos não confundam.

  Sem muitas regras, o Save the Date pode ser desde um e-mail com uma ilustração bonita, até a produção de um vídeo que represente a história do casal finalizado com a data do casamento. Para quem gosta de oferecer uma lembrança física aos convidados, também podem ser produzidos calendários, marcadores de páginas, imãs de geladeira, para que a data fique viva na lembrança da pessoa. Existem empresas especializadas nesse serviço, mas se o casal for criativo, pode elaborar o seu em casa mesmo, ou durante a e-session.

  O importante é que o Save the Date esteja alinhado com o estilo do casamento, podendo ser mais clássico, romântico, inovador... Os noivos podem entregá-lo pessoalmente ou enviar pelo correio. Diferentemente dos convites, aqui não existem muitas formalidades.

  O uso do Save the Date torna-se imprecindíviel quando existem muitos convidados de outras cidades, estados ou até países, como no caso dos casamentos entre nacionalidades mistas. Nessas situações é interessante, além da data, já divulgar o local onde acontecerá o casamento para que o convidado verifique com antecedência todos os ítens da viagem.
