---
kind: article
priority: 0.7
url: papelaria-do-casamento
title: Papelaria do Casamento
excerpt: Personalizar um casamento nunca foi tão fácil. Capriche em uma identidade visual nos materiais gráficos para que os convidados sintam-se envolvidos nesse dia.
created_at: 2014-03-10
author_name: Andressa Carrara
author_uri: 107186646809115232165
tags:
  - Convites
---

markdown:
  Há tempos as regras em casamentos estão sendo quebradas, existe uma liberdade maior para criar e sair do tradicional, o que fez aumentar também o volume de opções para convites e toda a papelaria envolvida com o grande dia. Nesse setor existem empresas especializadas no desenvolvimento de uma identidade visual, em harmonia com o perfil de cada casal, para aplicá-la do *Save the Date* até o bem casado.

  Abaixo seguem alguns ítens que os noivos podem personalizar, até com produções caseiras, e que darão um charme a mais ao casamento.

  Como já contamos por aqui, além do *Save the Date* que pode ser impresso, e dos convites, existem outros elementos que podem ser personalizados:

  Tag's
  -----

  Podem ser usadas nas lembrancinhas com o nome de cada convidado ou tag's de agradecimento com o nome dos noivos e a data para anexar ao bem casado.

  Cartões de agradecimento
  ------------------------

  Para enviar ou entregar pessoalmente aos parentes e amigos pelos presentes recebidos (ou ajuda financeira). Apesar de tradicionalmente serem feitos à mão, uma das faces do cartão já pode conter o nome, ou monograma do casal com uma mensagem padrão.

  Placas e brincadeiras
  ---------------------

  Esses são elementos para compôr a decoração da festa. Podem ser mini cartões identificando os tipos de docinhos da mesa do bolo; placas com o nome do casal, ou as abreviaturas "Sr. e Sra." na cadeira dos noivos; adereços para fotos como bocas, óculos e bigodes, tudo o que a imaginação criar.

  Menu
  ----

  Principalmente nos eventos que são oferecidos almoço ou jantar aos convidados, é importante ter um *Menu* indicando as opções de pratos.

  Com um serviço terceirizado ou feito pelo próprio casal com a ajuda dos amigos, o importante é que todos esses elementos estejam alinhados, seguindo o estilo do casamento. Tradicional, romântico, moderno, o ideal é seguir a mesma paletas de cores e fontes para que os convidados sintam-se envolvidos no clima do casamento.