---
kind: article
priority: 0.7
url: como-escolher-o-convite-do-casamento
title: Como escolher o convite do casamento
excerpt: "Muito além da data, hora e local, o convite de casamento já demonstra a personalidade do casal e anuncia às pessoas o que as espera nesse grande dia"
created_at: 2015-01-02
author_name: Andressa Carrara
author_uri: 107186646809115232165
tags:
  - Convites
---

markdown:
  Seus amigos e parentes já estão acompanhando os preparativos para o casamento, receberam o Save the Date e aguardam ansiosos a entrega dos convites formais. Com a liberdade para criar, garantida por casamentos de diversos estilos e religiões, não vale quebrar tamanha expectativa com um convite apenas informativo. A função do convite hoje vai muito além, ele tem que envolver as pessoas, contagiá-las com a proposta do evento e incentivá-las a de fato comparecerem, claro, com muito bom gosto e de forma coerente com o contexto dos demais detalhes do evento.

  Abaixo seguem algumas sugestões para os mais diversos tipos de casais, mas vocês também podem misturar essas referências e criar o seu próprio estilo. Apenas lembrem-se: de um convite formal espera-se um evento protocolar, de um convite divertido espera-se uma festa descontraída. Despertem uma expectativa condizente com a realidade.

  Clássicos
  ---------

  Predomina uma paleta com cores mais sóbrias como o branco, bege, dourado, champagne… O ideal é usar envelopes forrados para enriquecer o acabamento. Os monogramas também podem aparecer em relevo ou em lacres no verso.

  Modernos
  --------

  Aqui não há restrições quanto a cores. Podem ser usadas as mesmas da decoração, rosa, azul, amarelo, tons fortes, vibrantes ou então estampas. Se o casamento tiver um ar retrô, podem ser utilizados detalhes vintages no convite e uma fonte diferenciada para o texto.

  Personalizados
  --------------

  Alguns casais optam por incluir Ilustrações, caricaturas ou fotos para personalizar o convite. No caso de fotografias, podem ser aproveitadas as da e-session.

  Com brindes
  -----------

  Alguns interpretam como um mimo para os convidados, mas não é algo totalmente desnecessário, afinal quem não gosta de ganhar um brinde? Podem ser chocolates, sachês permufados, medalhinhas com o santo padroeiro da igreja onde se realizará o casamento… Isso encarecerá um pouco esse item no orçamento, então o convite em si pode ser feito num papel mais simples, com menos requinte na impressão para balancear.

  DIY
  ---

  Para quem não conhece, a sigla DIY é uma abreviação de "Do It Yourself" (do inglês faça você mesmo). Quando o casal deseja realmente fazer algo personalizado e ainda ter o prazer de dizer “Fomos nós que fizemos”, essa pode ser uma opção para economizar dinheiro e ter um convite único.

  Calígrafo
  ---------

  Independente do tipo de convite escolhido, é usual que os envelopes dos convites sejam sobrescritos. Mesmo que alguém na família tenha uma letra desenhada, bonita, o ideal é contratar um calígrafo, isso garante um melhor acabamento e a economia de tempo e dinheiro em não jogar fora os envelopes errados.

  Dicas
  -----

  - Imprima uma quantidade extra de convites para casos emergênciais.
  - Guarde um convite como recordação, mesmo os parentes mais próximos como os pais podem perder, amassar, ter suas cópias estragadas com o passar dos anos.
  - Cartões de indicação com a lista de presentes devem vir presos com um pequeno clips no verso do convite a fim de não dificultar a visibilidade e harmonia do layout como um todo. Se você acha deselegante incluir esse detalhe, podem assinar o convite com o site dos noivos, e concentrar as listas e o RSPV lá.

  Nos enviem seus modelos de convites. As ideias mais criativa vamos publicar aqui no site!
