---
kind: article
priority: 0.7
url: o-que-significa-DIY
title: O que é DIY?
excerpt: Aproveite nossas inspirações e faça você mesmo diversos itens do seu casamento. Economize e surpreenda os convidados com muita emoção
created_at: 2014-03-10
author_name: Andressa Carrara
author_uri: 107186646809115232165
tags:
  - Convites
---

markdown:
  DIY é a sigla para a expressão inglesa Do It Yourself que podemos traduzir para o “faça você mesmo”. A ideia deste conceito é que os próprios noivos, seus parentes e amigos mais próximos se responsabilizem por alguns itens do casamento em vez de contratar fornecedores.

  Podem ser os elementos da decoração, lembrancinhas, o próprio convite, a fim de personalizar ao máximo o casamento.

  Já falamos sobre diversos estilos de casamento aqui no site, para eventos mais simples, ou um mini wedding, o DIY é a alternativa perfeita. Essa pratica traz uma certa economia ao casal, desde que não prejudique a qualidade dos serviços. Por exemplo, na decoração vale juntar durante o noivado garrafas de todos os tipos: vinho, azeite, cerveja, para montar os arranjos florais da decoração das mesas na recepção. Placas decorativas em madeira, mini lousas, porta retratos, móveis e louças da própria família, são elementos que podem ser usados para dar um ar mais aconchegante ao casamento.

  De fato, é um prazer enorme tanto para a noiva como para os convidados, quando eles recebem algo que foi feito realmente pelas mãos dos noivos, ou de parentes próximos. A noiva pode fazer sachês aromatizantes em casa, ou ainda podem ser bem casados, compotas de doces, como uma lembrança do casamento feitas por ela, pela avó ou pela mãe.

  Para conseguir um bom resultado é preciso que as pessoas envolvidas se empenhem com muita dedicação, paciência e carinho. Talento e habilidade também são essenciais, por mais boa vontade que os amigos tenham, se a pessoa não sabe fazer, é melhor ajudar com outro item do casamento. Organização também é fundamental, a fim de tudo estar pronto com uma certa antecedência ao dia do casamento.

  E vocês, leitores, como colocariam a mão na massa para dar um toque especial ao casamento? Nos enviem mais sugestões para compartilharmos.