---
kind: article
priority: 0.7
url: tradicoes
title: Tradições e superstições no casamento
excerpt: Você já pode se considerar uma mulher sortuda por ter conquistado o coração de alguém, mas aqui vão algumas dicas de como ser uma noiva de sorte.
created_at: 2014-03-10
author_name: Andressa Carrara
author_uri: 107186646809115232165
tags:
  - Convites
---

markdown:
  Independente da religião ou cultura, existem tradições no casamento que podem ser aderidas por noivas de qualquer lugar do mundo. São brincadeiras, superstições para espantar o azar, ajudar as amigas solteiras e ter uma vida conjugal próspera.
  
  Abaixo explicamos tradições já conhecidas e outras curiosidades para que você tenha o dia mais sortudo ao lado do seu amor:

  O Véu da noiva
  --------------

  Hoje em dia muitas noivas tem deixado esse costume de lado, e não fazem sua entrada na cerimônia com o rosto coberto pelo véu, porém ele tem uma origem muito interessante: proteger a noiva de qualquer mau olhado, tanto da inveja das mulheres, como da cobiça dos homens. Ele também tem o significado para a mulher de separar sua vida de solteira da sua vida de casada e futura mãe, Hijab (véu), quer dizer, em árabe, "o que separa duas coisas".

  Gravata
  -------

  Algumas tradições dizem que a gravata do noivo deverá estar alinhada, em perfeitas condições durante a cerimônia. Caso ela apareça torta é sinal de que o noivo não será fiel à sua esposa.

  Jogar Arroz
  -----------
  Não se sabe ao certo o país que originou essa tradição, mas ela nasceu no oriente. Jogar arroz nos noivos é desejar a eles uma vida conjugal próspera, feliz e fértil. Que venham os filhos! 

  Jogar o buque
  -------------

  Para ajudar as amigas solteiras a casarem é comum a noiva ao fim da festa jogar o buquê. Pode ser o que realmente foi usado durante a cerimônia, ou uma réplica em tamanho menor, preservando o original para guardar como recordação. O buquê pode ser substituído por um sapo de pelúcia, a ideia é que a solteira que conseguir pegá-lo dê um beijo no sapo transformando-o no príncipe dos seus sonhos para casar. Para ajudar um número maior de amigas, existe também a opção de jogar várias imagens de Santo Antônio, considerado o padroeiro casamenteiro, para que cada solteira faça sua simpatia a fim de subir no altar.

  Escrever o das solteiras
  ------------------------

  Algumas tradições afirmam que dá sorte bordar na barra do vestido da noiva o nome de quem quer casar, ou ainda escrever os nomes na sola do sapato, ao fim da noite o nome que estiver mais apagado será a próxima mulher a se casar.

  Corte do Bolo
  -------------

  O casal deverá cortar juntos o primeiro pedaço do bolo. Porém dizem que a mão que fica por cima ao segurar a espátula do bolo indica quem do casal irá mandará na casa.

  Something old, something new, something borrowed, something blue
  ----------------------------------------------------------------

  Alguns dizem que a tradição vem da Inglaterra, porém ela encontrou mais adeptos nos Estados Unidos. O verso diz que que a noiva deve usar algo velho, algo novo, algo emprestado e algo azul. 

  A peça velha remete às suas origens, a ligação com a família, geralmente o que a noiva deixa para trás no dia do casamento. O importante é que esse acessório já pertença ou seja dado à noiva. Pode ser uma jóia, o véu ou o próprio vestido pertencentes à mãe ou às avós. Essa parte da tradição possibilita fazer uma homenagem muito emocionante. A peça nova tem justamente o significado oposto. Sorte, sucesso, renovação para a vida nova de casada. Geralmente é o próprio vestido e a lingerie.

  Diferente da peça velha, o elemento emprestado deverá ser devolvido após o casamento, e deve ter pertencido à uma noiva bem sucedida no seu casamento. Podem ser broches e arranjos do cabelo. Por fim, usar algo azul é um tradição que muitas noivas aderem. A cor azul tem diversos significados, desde a pureza por ser a cor do manto da Virgem Maria, até a simbologia da fidelidade e o poder de “cortar a inveja” de mulheres solteiras. Algumas noivas são discretas e apenas bordam um coração azul dentro do vestido, outras usam jóias com safiras e as mais ousadas podem abusar do azul no sapato. Já virou moda tirar o branco do sapatos para combiná-los com a cor do buquê, e o azul é uma opção.

  Se todas essas superstições dão certo ou não é difícil avaliar, mas com certeza mal elas não farão, além de serem uma forma descontraída de atrair boas energias. Se vocês conhecem outras tradições com significados interessantes compartilhem nos comentários, assim muitas noivas poderão atrair a sorte para o grande dia.
