.search {
  &-input[type="search"] {
    width: 120px;
    border-radius: 4px 0 0 4px;
    border-right: none;
    font-size: .9em;
    @include transition (border linear .3s, width $ease-out-back .6s);
  }

  &-input[type="search"]:focus {
    width: 250px;
    border-color: darken($primary-color, 10%);

    @media only screen and (max-width : 480px) {
      width: 150px;
    }
  }

  &-button {
    padding: .5em .6em;
    display: inline-block;
    border: 1px solid darken($primary-color, 10%);
    font-size: .9em;
    box-shadow: inset 0 1px 3px lighten($primary-color, 15%);
    border-radius: 0 4px 4px 0;
    background-color: $primary-color;
    color: #fff;
    @include prefixer(box-sizing, border-box, webkit moz spec);
  }
}
