@import 'form';

::-webkit-selection {
  background: $primary-color;
  color: #fff;
  text-shadow: none;
}

::-moz-selection {
  background: $primary-color;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: $primary-color;
  color: #fff;
  text-shadow: none;
}

body {
  background: url('/img/body.jpg') repeat;
  color: #555;
}

a {
  @include transition (color linear .2s);
  color: $primary-color;
}

a:hover,
a:focus {
  color: darken($primary-color, 20%);
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: $font-headline;
  line-height: 1em;

  a {
    text-decoration: none;
  }
}

h3 {
  font-weight: 300;
}

hr {
  border: 0;
  border-bottom: 1px solid #eee;
  margin: 0 0 $gutter-width;
}

img {
  max-width: 100%;
}

figure img {
  width: 100%;
}
