%clear_list {
  list-style: none;
  margin: 0;
  padding: 0;
}

%sr-only {
  @include size(1);
  position: absolute;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;

  &:focus {
    @include size(100% auto);
    top: 0;
    margin: 0;
    overflow: auto;
    clip: auto;
    box-shadow: 0 2px 4px #aaa;
    outline: none;
    background: rgba(255,255,255,0.9);
    padding: 14px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    z-index: 1;
  }
}