$primary-color: #ee326d;
$secundary-color: #42bbcd;

$font-base: arial, helvetica, freesans, sans-serif;
$font-headline: "Roboto Slab", Georgia, "Times New Roman", Times, serif;

$full-max-width: 1280px;
$gutter-width: 20px;
