form.search class="#{@css_class}" method="get" action="/busca/" role="search"
  input.search-input type="search" name="q" placeholder="Buscar..." title="Pesquisar no Casamento de A a Z [s]" accesskey="s"
	input.search-button type="submit" value="Pesquisar" tabindex="-1"
