---
kind: article
priority: 0.7
url: musica
title: "Como escolher quem vai tocar no seu casamento?"
excerpt: "Descubra como ter a trilha sonora perfeita para um casamento, tanto na cerimônia como durante a recepção."
created_at: {}
author_name: Andressa Carrara
author_uri: 107186646809115230000
tags: 
  - Músicas
  - Fornecedores
published: true
---


markdown:
  Compondo a lista de fornecedores, escolher a trilha sonora do seu casamento é arrematar decoração, trajes e cenário com a música perfeita para emocionar a todos. Sem muitos segredos, este item é totalmente personalizado e totalmente atrelada a história e estilo de cada casal. Abaixo mostramos algumas opções e as diferenças entre optar por cada uma.   

  Durante a Cerimônia
  -------------------

  Basicamente os noivos podem escolher entre banda, coral e orquestra. São estilos de sons diferentes. A banda tem guitarra, bateria e geralmente apenas um cantor. Já a orquestra pode ser totalmente instrumental, sem voz, ou seja, você apenas terá a melodia de fundo com violinos, órgão, clarins, instrumentos tradicionais. Ainda há a possibilidade de uma orquestra somada a um coral de vozes. 

  Neste caso a escolha das músicas deve ter um cuidado redobrado, uma vez que a letra será cantada e ouvida por todos. Por conta disso muitos templos religiosos, principalmente as igrejas católicas, limitam quais músicas podem ou não serem executadas durante a cerimônia, o conteúdo das letras tem de ser adequado ao local. Quem se lembra do casamento da agora duquesa Kate Middleton com o príncipe William? Durante a cerimônia só foram tocadas músicas sacras, respeitando o momento.  

  Vale ressaltar aqui também que casais que optam por músicas internacionais devem antes verificar a tradução da música. Ela pode ser impactante, linda, mas contar uma história triste de amor, uma desilusão, o que não esperamos ser o resultado do casamento. 
  Geralmente as empresas cobram pelo número de integrantes da orquestra e pela quantidade de instrumentos diferentes a serem usadas. Nem sempre mais instrumentos garantem uma música com mais qualidade, isso varia muito de acordo com o tamanho da igreja, posicionamento da orquestra, arquitetura do local. Por isso vale conversar com a empresa e entender as necessidades que aquele local específico exige para garantir uma acústica perfeita. 

  Durante a festa
  ---------------

  Alguns casais optam recepcionar os convidados com alguma apresentação musical durante a chegada e acomodação das pessoas. Pode ser um acústico de um cantor no violão, um piano, uma pequena banda de jazz, isso varia muito segundo o estilo da festa. 

  Para animar a pista de dança o casal pode investir num DJ, que mixa uma variedade muito maior de estilos musicais, além de ouvir no dia do seu casamento as versões originais de suas músicas favoritas. Para os casais baladeiros, esta é a melhor escolha.  

  Outra opção é contratar uma banda que por terem profissionais ao vivo, consegue contagiar mais rapidamente os convidados da festa. Eles ainda podem fazer versões exclusivas para seu casamento, e propôr brincadeiras com os convidados. Porém é preciso encontrar uma boa banda que tenha um perfil bem divertido e eclético. Um DJ menos preparado pode até animar a festa tocando boas músicas, mas a banda depende totalmente de seus profissionais. 

  Para os noivos com melhores condições financeiras é possível contratar artistas para fazerem um pocket show. Barão Vermelho, Claudia Leite e alguns sertanejos são opções. Isso vai dar um charme a mais à sua festa. Se o casal se conheceu durante o show de algum artista, ou tem uma música tema, quando o orçamento permite, vale conversar com a assessoria de imprensa do cantor e verificar a possibilidade. Porém a participação especial dele não limita toda a música da recepção, de qualquer forma o casal deverá optar por um DJ ou outra banda.

  E para você qual música não vai poder faltar no dia do seu casamento? Compartilhe com a gente deixando um comentario! :)
