---
kind: article
priority: 0.7
url: acessoria-de-casamento-eu-precido-de-uma
title: Acessoria de casamento, eu preciso de uma?
excerpt: Dependendo do porte do seu casamento, uma equipe de organização pode ser a chave para que tudo aconteça fielmente ao seu sonho. 
created_at: 2014-03-10
author_name: Andressa Carrara
author_uri: 107186646809115232165
tags:
  - Fornecedores
  - Planejamento
---

markdown:
  Quando os noivos começam o planejamento do casamento, normalmente se assustaram com a quantidade de fornecedores, detalhes, profissionais envolvidos, contratos... Aqui vamos apresentar como o serviço de Wedding planner pode colaborar e passar maior segurança ao casal de que tudo dará certo. A função da assessoria é garantir que tudo acontecerá como o planejado sem trazer preocupações aos noivos e seus familiares no grande dia. 

  Nem todos os casais consideram a assessores como um profissional obrigatório, principalmente em casamentos simples, de pequeno tamanho ou com contenção de gastos. Os noivos podem tentar se [organizar sozinhos](/#{post 130208}), criar planilhas, pesquisarem, buscar referências com pessoas que já casaram e até contar com a ajuda de familiares durante esse processo, mas vejam bem, isso é viável apenas antes, não no dia do casamento, afinal cada amigo e parente que ajudar em algo deve ter o direito de aproveitar 100% o momento.  

  Se o casal pode fazer tal investimento, a assessoria deve estar presente sim. Só a experiência acumulada ao planejar diversos evento, sabendo qual ideia realmente dará ou não certo, já é motivo mais do que suficiente para justificar essa contratação. Saber quais são os melhores fornecedores, questões legais e contratuais, acompanhar as tendências do mercado, desmistificar alguma insegurança, fazer um check list completo de todos os serviços, tudo dentro do perfil dos noivos. Direta ou indiretamente todos estes serviços estão inclusos quando o casal opta por uma assessoria. 

  Quem determina o grau de envolvimento da assessoria é o cliente. Fernanda Foja, assessora da [Uno Due](http://www.unodueeventos.com.br/), nos contou que existem dois modelos para atender ao casal, o serviço de assessoria completa, que inclui desde a definição do estilo, controle das despesas, visitas acompanhadas a fornecedores, ou seja, o planejamento do contratação até a grande data, e o serviço de assessoria específico para o dia do casamento. Este envolve uma pequena consultoria, iniciada cerca de 2 meses antes, com a análise dos contratos fechados, definição do cronograma da cerimônia e recepção, visita final ao espaço onde será realizada a festa e reunião com o decorador. 

  Fernanda nos contou que aqui no Brasil é comum os noivos optarem apenas pela assessoria do dia, pois pensam que não precisam de ajuda antes. Porém pensa que toda noiva deveria contratar uma assessoria assim que decide se casar, pois, quando procurados já bem próximos do casamento nem sempre a assessoria terá condições de fazer os ajustes necessários, principalmente quanto à contratação de fornecedores. 

  Mesmo para casais experientes com a leitura de contratos, que tenham boas referências dos profissionais que trabalharão para eles, existem cuidados que o dia do casamento exige e que ficam sob responsabilidade da assessoria em qualquer um dos modelos oferecidos acima.

  Você já pensou sobre algumas questões como:

  - Quem irá acompanhar a montagem do evento? 
  - As flores contratadas realmente são aquelas?
  - Os doces e bem casados foram entregues?
  - As mesas acomodam o número real de convidados?
  - Durante o evento, o casal ou seus pais e padrinhos estaram preocupados com horários? 
  - Quem vai verificar a higienização dos banheiros? 
  - E as mesas mais distantes estão recebendo o mesmo tratamento da equipe do buffet?

  Buffets costumam ter uma infra estrutura melhor, mas se o casamento for na praia, na fazenda, no campo, em outra cidade, o papel da assessoria ganha ainda mais importância: Verificar a chegada dos profissionais, entrega de comidas, bebidas, armazenamento, limpeza, recepção e orientação aos convidados, pais e padrinhos, montagem e desmontagem do espaço. Essas são preocupações que não podem atrapalhar o making off da noiva, do noivo, a cerimônia, a festa e nem a lua de mel do casal. Por isso delegar essas funções para uma assessoria especializada é a nossa indicação.

  Essa equipe contratada além de se preocupar com todos esse itens, pode também realizam o envio de um relatório após o casamento com o feedback para seus clientes. Lá existem informações como a contagem de bebidas, o número real de convidados presentes, quebras, perdas, gastos extras com o buffet.

  E qual a sua opnião sobre a contratação desse tipo de serviço?
