---
kind: article
priority: 0.7
url: street-wedding
title: Street Wedding
excerpt: O casamento pode ser celebrado em qualquer lugar, a qualquer hora. Conheça mais deste tipo de ensaio fotográfico que enaltece o amor. 
created_at: 2014-03-10
author_name: Andressa Carrara
author_uri: 107186646809115232165
tags:
  - Convites
---

markdown:
  Para quem leu nosso texto sobre locais diferentes para casar, aqui vai uma alternativa menos radical. O dia do casamento pode ser totalmente tradicional, com  igreja, comemoração, os noivos não tendo muito tempo para estarem juntos, mas essa não necessariamente é a única data para celebrar o casamento.

  O Street Wedding, que poderia ser traduzido como Casamento nas Ruas, é uma sessão fotográfica e de vídeo que possibilita ao casal reviver momentos do casamento e ainda gerar imagens lindas e completamente inusitadas. Tem noivos que optam por realizar essa sessão antes do casamento, mas particularmente acredito que isso rouba um pouco do encanto da primeira vez ao ver sua noiva de vestido branco no dia do casamento.

  Minha sugestão é que essa é uma boa opção para os casais comemorarem suas bodas de papel, após um ano do casamento. Tem também os casais que não pretendem se casar de forma protocolar, mas não gostariam de abrir mão de fotos caracterizados como noivos.

  Como funciona?
  --------------

  O casal pode escolher um lugar especial para eles, que tenha a ver com a história, ou um cenário lindo e diferente: parques, jardins, montanhas, praia, algum ponto turístico da sua cidade - ou até de outro país. Podem ser aproveitados os hobby’s do casal também, como andar de moto, dançar, velejar, jogar futebol, aqui vale soltar a criatividade. Detalhe importante: entrem previamente em contato para conseguir licenças, se for o caso, verificar restrições e as possibilidades. Apesar de não haver fins lucrativos para esse tipo de trabalho, cada local tem suas próprias políticas.

  Com a ajuda de um bom fotógrafo criem um roteiro do que fazer no dia. Alguns casais gostam de incluir corte do bolo, brinde, troca de alianças. Outros fazem algo mais descontraído com brincadeiras. Vale também conversar sobre o melhor horário do dia para fazer as fotos.
  
  Cada casal tem seu estilo próprio e cada fotógrafo também. Escolham um profissional de forma consciente.

  O casal se prepara como se fosse o dia do casamento, traje do noivo, vestido de noiva, maquiagem, penteado, buquê, podendo ser os mesmos do dia oficial, ou outra produção completamente diferente. É feita a cobertura desse making off, depois o encontro dos noivos e por fim as fotos artísticas durante o ensaio.

  Além do arquivo pessoal do casal ficar mais rico em imagens, existem outras vantagens:
  - Se você não quis inovar muito no casamento, essa é a chance de arriscar.
  - Quem ama fotografia, essa é a oportunidade de ter uma produção impecável sem comprometer o dia do casamento. É impossível fazer algo parecido no intervalo entre cerimônia e recepção.
  - Diferente do Trash de Dress, este tipo de ensaio não compromete o vestido.
  - Para o casal, reviver um dos melhores momentos da vida, a sós, sem convidados e preocupações, é uma grande oportunidade de sentir novamente as emoções do casamento e desfrutar delas de forma plena.

  Abaixo seguem algumas sugestões do que pode ser feito. As imagens são de autoria de Everton Rosa, fotógrafo que trouxe esse estilo americano e adpatou aos padrões brasileiros. Não existem muitas regras, então aproveitem para se inspirar.
