---
kind: article
priority: 0.7
url: trash-the-dress-o-que-e
title: Trash the Dress o que é?
excerpt: O ensaio fotográfico mais radical que os noivos poderiam escolher, o Trash the Dress propõe situações de risco ao vestido branco, mas que rendem lindas imagens. 
created_at: 2014-03-10
author_name: Andressa Carrara
author_uri: 107186646809115232165
tags:
  - Vestido de Noiva
  - Fotos e Filmagem
---

markdown:
  Diferente do [Street Wedding](/#{post 130203}), o Trash the Dress é um ensaio fotográfico que não poupa o vestido de noiva. Vale sujar, rasgar, molhar, tudo para um criar um efeito fotográfico incrível. Essa moda é americana, e conquistou muitos adeptos no Brasil, principalmente por sermos um país com belas praias, e cenários paradisíacos que dão um charme todo especial para essas fotos..

  A ideia é que dias após o casamento os noivos façam essa sessão fotográfica, aliás por que não durante a lua de mel? Os noivos juntamente com uma equipe de fotografia vão à lugares onde uma noiva geralmente evitaria passar com seu lindo vestido branco. Podem ser praias, cachoeiras, ruínas, campos de flores, fazendas... A brincandeira aqui é justamente esse pensamento inverso, o contraste de um vestido branco em “situações de risco” é que garante o charme das imagens. 

  Se a noiva quiser preservar o vestido original do casamento, vale providenciar outro modelo para o ensaio, talvez um mais curto, com fenda, ou mais leve. Vale ressaltar que geralmente as lojas de alugueis de vestidos não permitem este tipo de uso, justamente a fim de não causar danos à peça, mesmo após lavagens especiais. Por isso, se o casal pretende entrar na água, se sujar de areia, lama, tinta, vale comprar um modelo mais simples.

  A produção de cabelo e maquiagem são necessárias, mas não precisam ser as mesmas do grande dia. A maioria dos Trash the Dress acontecem durante o dia, e no Brasil a maioria dos casamento é à noite, são dois momentos que requerem produções diferenciadas. O buquê pode ser pensado com flores mais resistentes, e a roupa do noivo basicamente é um camisa e calça sociais. 

  Por já terem vivido o casamento, os noivos costumam estar bem mais descontraídos nessa sessão fotográfica, o que fica explícito com a espontaneidade das imagens. Quem deseja ter essa lembrança deve [contratar um bom fotógrafo](/#{post 130214}), afinal aqui a experiência sobre qual o melhor horário para as fotos, ângulos, locais pesa consideravelmente. 

  E você? O que achou sobre esse tipo de sessão fotográfica.
