---
kind: article
priority: 0.7
url: o-que-significa-e-session
title: O que é E-session?
excerpt: Faça uma sessão fotográfica porque o amor pode render lindas imagens em qualquer dia, não apenas no casamento.
created_at: 2014-03-10
author_name: Andressa Carrara
author_uri: 107186646809115232165
tags:
  - Convites
---

markdown:
  E-session é a abreviação para o termo Engagement Session, que numa tradução literal seria Sessão de Noivado. O casal durante o tempo do noivado pode fazer uma sessão fotográfica (e em vídeo também) para registar esse momento pré casamento. No geral, são escolhidos lugares que tenham a ver com a história do casal como cenário dessas produções, praias, jardins, na própria cidade são os locais mais comuns, mas podem ser estações de trem antigas, estádios de futebol, parques de diversão, um pic nic na floresta, dependendo do estilo do casal.

  O motivo principal que os noivos optam for fazer a e-session é incrementar o arquivo pessoal de fotos do casal, com imagens feitas por um profissional. É como transformar um dia comum, um passeio rotineiro na vida dos noivos em um momento único, registrando carinhos, beijos e todos amor entre o casal.

  Apesar do clima de romance, é possível brincar muito durante a e-session com elementos que já fazem parte da história do casal, e assim criar um clima bem descontraído. Essas imagens poderão ser usadas depois para confeccionar o [Save the Date](/#{post 130110}).Também há a opção de usar as fotos para ilustrar o convite, decorar o espaço da recepção, personalizar menus e toda a identidade visual do casamento.

  Para a casa nova, essas imagens podem virar lindos quadros e pôsters principalmente para o quarto do casal. Particularmente eu aconselho usar imagens de e-session para essa finalidade. As fotografias do casamento acabam sendo mais cansativas para serem vistas todos os dias, a mega produção das noivas, a roupa diferenciada roubar um pouco da naturalidade de um simples namoro.
