---
kind: article
priority: 0.7
url: casamento-só-no-civil
title: Casamento só no civil
excerpt: Realizar um casamento somente no civil pode ser uma tarefa mais simples, mas nem por isso a união será menos significativa
created_at: 2014-03-10
author_name: Andressa Carrara
author_uri: 107186646809115232165
tags:
  - A Cerimônia
---

markdown:
  Alguns casais optam pelo casamento exclusivamente no civil para contenção de gastos. Nestes casos a união acontece nas dependências do cartório. Lembrem-se que como as salas costumam ser pequenas não será possível convidar muitas pessoas para assistirem a união. O ideal é procurar a instituição com 3 meses de antecedência para que todas as exigências legais, como entrega de documentos, aconteçam a tempo de realizar o casamento na data preferida dos noivos. Esse estilo envolve apenas os custos com o cartório.

  Não é uma exigência, mas após a assinatura dos papéis, de forma simples vocês também poderão celebrar com seus parentes e amigos mais queridos. Se o horário no cartório for pela manhã, muito cedo, é possível oferecer um brunch (espécie de café da manhã reforçado), se for depois das 10h30 já pode ser um almoço em um restaurante ou pizzaria próximos. Convidem avós, pais e irmãos, ao menos, talvez tios, primos e melhores amigos, de acordo com o orçamento de cada casal. Lembrem-se de fazer um convite formal, mesmo que por telefone, especificando como será o casamento, dia, horário, se a pessoa está sendo convidada para o cartório ou só para o almoço depois. 

  Não é ideal usar um vestido de noiva na ocasião, mas os trajes podem ser sociais, e as mulheres também podem optar pelo branco. Mesmo com um evento mais simples, sugerimos que os noivos dediquem uma parte do orçamento à fotografia, é o registro da união do casal e mesmo que não seja oferecido um almoço, por que não aproveitar o dia e fazer uma [e-session](/#{post 130206})? 

  Para os casais que querem fazer um casamento apenas no civil mas sem abrir mão de uma festa tradicional, é possível levar o juiz para um espaço de festas, seja ele no campo, na praia ou na cidade, realizar a união legal e depois recepcionar os convidados. Aqui vale lembrar que além dos custos do cartório, existe a taxa por conta do deslocamento do juiz. 

  Esse estilo abrange um número maior de convidados, acontece a entrada de padrinhos, noivo e noiva, como numa cerimônia religiosa de casamento, a noiva poderá usar um vestido mais tradicional, haverá decoração, música, tudo o que compõe um casamento. 

  Se os noivos podem fazer esse investimento, esta é uma boa opção quando o casal tem crenças religiosas diferentes, ou não são praticantes de nenhuma religião. Existem ainda cerimonialistas que fazem casamentos ecumênicos com diversas simbologias, como se fossem uma bênção sobre o novo casal e o casamento civil pode estar incluso nesta cerimônia.
