---
kind: article
priority: 0.7
url: site-de-noivos.html
title: Site de Noivos
excerpt: O casamento se aliou à tecnologia, o site dos noivos funciona como uma agenda on line que ajuda noivos e convidados a se organizarem e aproveitarem muito mais o evento.
created_at: 2014-03-10
author_name: Andressa Carrara
author_uri: 107186646809115232165
tags:
  - Planejamento
---

markdown:
  Por mais clássico que seja o seu casamento, a tecnologia está à disposição para dar um ar mais atual ao evento sem interferir no seu estilo e ainda, trazer praticidade para noivos e convidados. Os noivos hoje encontram diversas opções para desenvolverem sites sem terem que ser especialistas em web designer, as empresas oferecem formas de personalização, desde o endereço da URL até o layout e ainda têm um serviço de ajuda com lembretes para que o casal se programe de acordo com o que é necessário ser resolvido em determinadas datas. 

  Vantagens
  ---------

  ### RSPV

  No caso do RSVP passivo, os noivos em vez de pedirem a confirmação por e-mail ou por telefone podem criar uma lista de presença on line. Fica menos constrangedor para o convidado assinalar que não irá do que ligar e inventar alguma desculpa por não poder ir. E para a organização da festa, saber quantos convidados ao certo comparecerão é fundamental. 

  ### Aproximação com os convidados

  O site permite manter um contato direto com os convidados. Isso facilita tirar dúvidas, inclusive no próprio dia do casamento, afinal eles poderão recorrer ao site em vez de ficar ligando para a noiva ou o noivo pedindo informações. 

  Mas quais seriam essas informações? O endereço da igreja, qual o melhor caminho entre a igreja e o buffett, horário da cerimônia, qual roupa devo usar, etc. Se o casamento tem convidados estrangeiros, podem ser compartilhadas indicações de salões de beleza, hotéis, passeios turísticos...

  Os eventos que atencedem o casamento, como chás e despedidas de solteiro ganharão uma interação muito maior, e todos poderão acompanhar a chegada do grande dia. 

  ### Lista de presentes e cotas da lua de mel

  Algumas pessoas acham deselegante incluir no convite aquele “lembrete” com a lista de presentes. Por meio do site é possível criar diversas listas e oferecer uma gama bem maior de produtos, além das panelas, para que os convidados presenteiem o casal (eletrônicos, eletrodomésticos, decoração, móveis...) 

  Para os casais que já moram juntos, ou já têm a maior parte dos presentes que receberiam, alguns sites disponibilizam aos noivos resgatarem em dinheiro o valor equivalente ao presente. Ou ainda, aos convidados pagarem cotas para que o casal use essa verba na lua de mel. 

  ### Recordações

  Essa é uma das melhores partes em dedicar parte do seu tempo, e em certo casos, dinheiro para um site. Além de poder compartilhar as recordações do casal, como álbuns de fotos, a história de como eles se conheceram, do primeiro beijo, do pedido de casamento, o casal pode criar um blog para contar como é organizar um casamento, as dificuldades e as felicidades que fazem parte desse caminho e ainda abrir um mural de recados para que amigos e parentes deixem mensagens nesse período pré casamento. Passado o grande dia, o casal pode compartilhar fotos, vídeos do casamento, da lua de mel e ainda receber recados como um feedback da festa: “Nossa estava tudo lindo e o bolo muito gostoso. Parabéns e aproveitem a lua de mel’. 

  Esses são serviços inclusos em todas as plataformas para criar sites de noivos, e a grande maioria das empresas entrega um CD com a página salva para que o casal guarde a recordação após o link sair do ar. 

  Cuidados
  --------

  Para ter um bom site, algo atrativo que vá de fato envolver os convidados é necessário atender a três requisitos: estética, acessibilidade e conteúdo. Existem diversos templates e formas de personalizar o site, mas é importante lembrar que o  visual  deve conversar com o estilo do casamento e dos noivos (cores, imagens, tipografia). 

  A acessibilidade é outro ponto fundamental. O site deve ser intuitivo, principalmente se considerarmos que existem convidados mais velhos e com menos intimidade nesse mundo digital. Vale compartilhar algumas informações (principalmente a lista de presentes e indicações de caminhos para a cerimônia) de outras formas e não apenas pelo site. Diferentemente do que dizem por aí, não interpreto como deselegante anexar tais informações no convite. 

  O conteúdo deve ser tratado com carinho e não como uma obrigação. Vocês só devem abrir um álbum se tiverem fotos, da mesma forma criar um blog se estiverem dispostos a relatar com frequência as aventuras da organização do casamento. 

  Apesar de ser uma ferramenta que auxilia a organização, inclusive com dicas semana a semana, esses sites não substituem uma boa assessoria. O contato pessoal,  principalmente para negociar com os fornecedores, e a experiência que os profissionais do ramo têm pelo volume de casamentos realizados não podem ser substituídas.

  Abaixo seguem algumas indicações de empresas que disponibilizam o serviço. Ele pode ser gratuito, geralmente mais limitado, ou pago, onde são oferecidos vários pacotes. Se vocês elaboraram ou encontraram um site de noivos bem completo deixem sua referência nos comentários. 

  - [iCasei](http://www.icasei.com.br/)
  - [Prometo](http://prometo.com.br/)
  - [Me Casar](https://br.mecasar.com/)
