---
kind: article
priority: 0.7
url: contratando-foto-e-filmagem
title: Contratando Foto e Filmagem
excerpt: Se essas são parte das lembranças que ficarão de seu casamento, vale dar uma atenção especial na hora de contratar estes profissionais.
created_at: 2014-03-10
author_name: Andressa Carrara
author_uri: 107186646809115232165
tags:
  - Fotos e Filmagem
  - Fornecedores
  - Planejamento
---

markdown:
  Já decidiram a data do casamento, fecharam o local da cerimônia e da festa. Agora vocês se deparam com a difícil etapa de escolher qual equipe de fotografia e vídeo que irão registrar as imagens do casamento. Nem sempre a equipe que fez o casamento de um conhecido atenderá às suas necessidades, mas confiar as imagens do seu casamento a um desconhecido também é arriscado. Pois bem, existem alguns detalhes que gostaríamos de ressaltar para ajudar vocês a fazerem uma boa escolha. 

  Mesma equipe, ou equipes diferentes?
  ------------------------------------

  Existem empresas que oferecem fotografia e filmagem, outras especializadas só em vídeo e outras dedicadas à fotografia. Basicamente seguem quais são os prós e contras nos dois casos:

  ### Uma única empresa oferecendo os dois serviços

  - Maior praticidade para os noivos na contratação e na produção do material pós casamento. 
  - Tanto o álbum como o filme do seu casamento seguirão um mesmo estilo, que será a linguagem da empresa contratada, e estarão em harmonia. Porém será uma única visão do seu casamento.
  - O entrosamento da equipe de fotógrafos e cinegrafistas é essencial para auxiliar na dinâmica do evento, a fim de que no vídeo não sejam vistos os fotógrafos, e nas fotos não apareçam os cinegrafistas. Cada um consegue executar seu trabalho sem atrapalhar o colega. 

  ### Duas empresas distintas, uma para fotografia e outra para filmagem

  - Possibilita você ter um nível de especialização maior em cada serviço, afinal cada equipe é exclusiva à sua área. Você poderá escolher exatamente qual perfil de empresa atende ao seu gosto.
  - O álbum e o vídeo seguirão estilos diferentes, o que pode ser bom ou ruim. Talvez algo que esteja no vídeo não apareça na fotografia, ou algo que está no álbum não faça parte do filme, afinal são interpretações de equipes diferentes sobre um mesmo casamento. Você pode ganhar em detalhes com essas visões diferentes do seu casamento, mas dificilmente o álbum e o vídeo estarão em harmonia. 
  - Geralmente a contratação de empresas distintas aumenta o valor final do item “Foto e Filmagem” no seu orçamento. 
  - Vale analisar o entrosamento das equipes para não gerar um clima ruim que atrapalhe a execução de ambos os serviços durante o evento. 

  Parcerias, indicações e restrições
  ----------------------------------

  A maioria das igrejas adotam guias de noivos com indicações de profissionais que devem ser contratados pelo casal. Espaços para eventos também têm parcerias. Porém qualquer tipo de restrição a outras equipes é ilegal. Os espaços devem receber a todos com o mesmo respeito e profissionalismo. 

  Claro que empresas que costumam trabalhar em conjunto têm melhor desempenho durante o evento, mas é importante verificar a qualidade dos serviços antes. Nem sempre as parcerias primam pelo melhor serviço, e sim por vantagens financeiras, acordos entre as partes envolvidas, o que só prejudica aos noivos.

  Riscos e Contratos
  ------------------

  A concorrência no mercado de fotografia e filmagem é imensa, os valores completamente desproporcionais, e os noivos podem acabar se perdendo na hora de comparar os serviços e contratando uma equipe sem fazer uma boa avaliação. Os estilos de serviços oferecidos e a qualidade somados ao valor final devem fazer parte da relação custo-benefício. Por que tal empresa é tão barata? Nem sempre é falta de qualidade. E por que a outra é tão cara? Vocês podem estar pagando apenas pela grife, não por uma qualidade efetivamente superior.

  Buscar uma empresa séria, com boas referências é dever dos noivos. Vemos várias matérias de casos de equipes que não aparecem no dia do casamento, ou então demoram anos para entregar um trabalho nem sempre com total qualidade. Parte da culpa dessas empresas existirem é dos próprios noivos, que abrem o mercado ao contratar esses profissionais.

  Como não podemos contar com a nossa memória, economizar justamente no item que irá permitir ao casal reviver os momentos do casamento, e mostrar para as próximas gerações como foi este dia não é o ideal. Mesmo que vocês estejam preparando um casamento mais simples, o bom senso deve prevalecer. 

  Diversos estilos 
  ----------------

  Além do foto e videojornalismo, da filmagem em alta definição, dos álbuns panorâmicos, laminados, das criações artísticas que vão ser oferecidos nos estúdios é importante comparar serviços equivalentes. 

  Tem empresas que fazem realmente produções cinematográficas em casamentos, com equipamentos de última geração, estabilizadores de imagem, enfoques diferenciados e edição de cinema mesmo. Porém editar 2h de casamento nestes termos encareceria demais o produto final. Conclusão, elas entregam o seu casamento como se realmente fosse um filme de cinema, mas com um tempo de duração total de no máximo 15 minutos. Basicamente um clipe do seu casamento, mas um clipe de muito impacto, extrema qualidade e bom gosto. Alguns detalhes podem se perder neste estilo de edição.

  Não vale comparar esta produtora com outra que entrega o vídeo do seu casamento na íntegra, com 2h de edição. São serviços completamente diferentes. Aqui você ganha nos detalhes, em realmente registar tudo o que acontecer. Mas perde no dinamismo da edição. Existem ainda algumas que oferecem os dois estilos. O vídeo na íntegra mais o clipe de melhores momentos.

  Em fotografia, existem álbuns feitos com papel fotográfico, revelados, diagramados artisticamente. Outros, os chamados fotolivros, são menos resistentes, feitos em papel de revista, e alguns fotógrafos que fazem apenas o registro do evento, entregando as fotos sem álbum. 

  Alguns estúdios liberam todas as fotos do casamento, além das impressas no álbum, disponibilizando para o casal um DVD com essas fotos tratadas e em alta resolução. Assim durante toda a vida quando vocês quiserem revelar uma foto que não está dentre as escolhidas para o álbum é só enviar o arquivo para a impressão. Outras empresas entregam apenas um CD com as imagens em baixa resolução, como um catálogo para os noivos escolherem quais irão para o álbum, e o casal fica atrelado à produtora para conseguir revelar outras imagens. 

  Como vocês podem perceber, os valores e trabalhos são muito distintos, por isso vale agendar visitas, conhecer pessoalmente os profissionais, saber quem será o fotógrafo o cinegrafista, e principalmente qual é o serviço que vocês estão contratando. 

  Você tem algum depoimento positivo ou negativo de equipes de fotografia e vídeo, comentem abaixo para ajudar as noivas que estão nessa busca também.
