---
kind: article
priority: 0.7
url: celebrando-o-noivado
title: Celebrando o noivado
excerpt: A emoção de ser pedida em casamento pode ser retransmitida para seus parentes e amigos mais queridos num noivado bem organizado
created_at: 2014-03-10
author_name: Andressa Carrara
author_uri: 107186646809115232165
tags:
  - Noivado
---

markdown:
  Após viver o grande momento do pedido de casamento, e em algumas famílias mais tradicionais o noivo pedir a mão da então namorada ao pai dela, é sempre interessante fazer uma comemoração, mesmo que pequena, para celebrar o noivado. Compartilhar essa decisão importante na vida a dois ao menos com seus parentes e amigos mais próximos é uma forma de envolvê-los, de dar e receber muito carinho e apoio neste momento, afinal nos próximos meses o casal estará entretido com os preparativos do casamento.

  Nos últimos anos percebi que no Brasil essa tradição se perdeu, muito casais associavam o noivado como dar satisfação de algo com gastos desnecessários, que poderiam ser economizados para o casamento. Mesmo se vocês já moram juntos, o noivado não perde o seu valor. Não precisa ser uma mega produção. Existem opções para economizar com o noivado sem deixar a data passar em branco.

  Alguns noivos optam por conversar com a família da noiva antes, preparar uma festa surpresa e na frente de todos fazer o grande pedido. Se você tem certeza de que ela vai aceitar, perfeito, não poderia gerar um momento mais emocionante. Outros casais optam por dias após o grande pedido oficializarem o novo “status”. Abaixo seguem algumas dicas para auxiliar na organização.

  Convidados
  ----------

  Primeiro selecione bem os convidados. Muitas festas de noivados são feitas com um ano de antecedência do casamento. É bem difícil ter um controle preciso do que vai acontecer nesse ano, e todas as pessoas convidadas para o noivado terão que ser convidadas também para o casamento. Vale aqui fazer algo mais íntimo. Podem ser pais, avós e irmãos com as respectivos companheiros. Quem puder investir mais talvez possa chamar alguns tios, primos, e os amigos mais queridos. Vocês não precisam escolher nem convidar os padrinhos neste momento.

  Local
  -----

  Isso vai depender do que os noivos pretendem fazer. Nos casos mais simples podem ser oferecidos um almoço ou jantar. O tradicional é receber os convidados na casa da noiva, se for inviável fazer lá, os noivos podem recorrer ao salão de festas do prédio de algum amigo, o restaurante preferido do casal ou até na casa de praia ou sitio da família.

  Preparação
  ----------

  Toda festa tem convite, decoração, comidas, bebidas, doces e lembrancinhas. Não são itens para encarecer e sim para deixar o clima mais aconchegante. A alternativa para não gastar muito com esses itens é colocar a mão na massa. Já falamos aqui no site sobre [DIY - faça você mesmo -](/#{post 130205}) os próprios noivos pode criar arranjos para as mesas e fazer as lembrancinhas.

  O convite pode ser impresso ou digital, caso todos os convidados tenham acesso fácil ao e-mail. De preferência convide com uma semana de antecedência para as pessoas se organizarem. Também não é necessário já ter a data do casamento marcada para fazer a festa de noivado, mas se o casal já tiver, é possível aproveitar o evento para divulgá-lá entregando o [Save The Date](/#{post 130110}).

  Noivado temático
  ----------------

  Particularmente acho que esta é a oportunidade para os noivos fazerem tudo o que não poderão fazer no dia do casamento. Então se existe algum tema que define o casal, é a hora de explorá-lo ao máximo. Festa junina, festa italiana, trilhas de cinema, churrasco e boteco, não existem regras aqui.

  Não esqueçam de registrar tudo o que antecede o casamento. Contratem um bom fotógrafo, você poderão usar as imagens desse dia depois no próprio casamento, na decoração, ou na retrospectiva. Algumas empresas vendem placas divertidas para fotografia, mas o próprio casal pode imprimir a famosa expressão “Enfim Noivos” com a data para usar nas imagens.
