---
kind: article
priority: 0.7
url: entrega-dos-convites-de-casamento
title: Entrega dos convite de casamento
excerpt:  Descubra uma maneira eficaz de fazer a entrega do convite de casamento, sem se preocupar com prazos, logística mas mantendo o controle total da situação.
created_at: 2014-03-10
author_name: Andressa Carrara
author_uri: 107186646809115232165
tags:
  - Convites
---

markdown:
  Aparentemente pode não ser uma dor de cabeça, mas a entrega dos convites deve receber um cuidado especial. O próprio casal pode fazer essa entrega pessoalmente agendando visitas aos familiares e amigos. Esta é a forma mais atenciosa de convidar seus parentes e amigos. As mães de ambos os lados também podem ajudar entregando alguns convites.

  Porém isso exige que o casal tenha tempo disponível, e crie uma logística, a fim de que certos “grupos de convidados” recebam em datas próximas o convite. A ideia é evitar um clima ruim em conversas paralelas com comentários como “ainda não recebi o convite” ou ainda sugerindo a dúvida se a pessoa será convidada ou não.

  Outro ponto importante é quando a lista de convidados contempla pessoas de estados ou até países diferentes. Infelizmente o envio pelo Correio nestes casos não é muito seguro, o convite pode rasgar, molhar e ainda chegar fora do tempo previsto.

  Por esses motivos, alguns casais optam por contratar um serviço especializado na entrega de convites. Guilherme Turri, sócio da [Invitare Express](www.invitareexpress.com.br/‎), que já participou da nossa matéria sobe RSVP, contou também os detalhes de como funciona esse processo.

  Inicialmente, a pessoa que nos contrata envia um mailing (lista com os nomes e endereços dos convidados), que passa por um “tratamento” para validar bairros e CEPs. Após esse “tratamento” são produzidos os protocolos individuais para cada convite e, em por fim, é feita a logística de distribuição, que visa otimizar o serviço e garantir mais rapidez nas entregas. Para melhor controle dos noivos, é enviado diariamente um relatório com status das entregas realizadas até aquele momento.

  A Invitare Express recomenda que os convites sejam entregues com até 30 dias de antecedência do evento. Para convidados de outros estados ou até de outros países esse prazo aumenta para 40 a 60 dias de antecedência.

  Para evitar que os noivos tenham muitas preocupações e deixem de aproveitar o que há de melhor na organização de um casamento é que existem empresas especializadas em cada setor. Tudo para oferecer a melhor tranquilidade e comodidade ao casal.
