---
kind: article
priority: 0.7
url: convites-para-chas-e-despedidas-e-outros-eventos
title: Convite para chás e despedidas e outros eventos
excerpt: Com uma proposta diferenciada, os convites para chás, despedidas e outros eventos relacionados ao casamento fogem de qualquer regra e oferecem muita descontração. 
created_at: 2014-03-10
author_name: Andressa Carrara
author_uri: 107186646809115232165
tags:
  - Convites
---

markdown:
  Desta vez a dica é destinada às madrinhas, amigas, primas, pessoas que geralmente organizam a patrocinam os chás de panela, lingerie, despedidas de solteira e todos esses eventos pré casamento. Levar em consideração a opinião da noiva é muito importante, mas as madrinhas tem um papel fundamental, assim essas pequenas festas também trarão surpresas para a noiva.

  E para manter os segredos bem guardados, a própria organizadora da festa terá que cuidar pessoalmente da criação e entrega dos convites. Os encontros pré casamento já acontecem num espírito mais colaborativo, são propostas mais brincadeiras, e o convite deve engajar as pessoas a participarem.

  Para quem puder investir mais, vale o convite impresso. Diferente do convite de casamento, abusem na criatividade com novos formatos, podem ser papéis recortados como xícaras, bules, calcinhas... Para incrementar ainda mais a produção, o convite pode vir acompanhado de um brinde. Dependendo da proposta da festa, algumas são até temáticas, eles funcionam como um “esquenta” para a festa.

  Se você for usar brindes, tente dar algo com significado, utilidade e não um presente apenas por dar. Por exemplo, para o chá de cozinha podem ser sachês de chá ou colheres de silicone (as de colheres de pau são mais clássicas, mas não usamos mais no nosso dia a dia).Para caprichar ainda mais, dependendo do produto é possível personalizar os brindes, mandando grafar o nome da noiva e a data do evento.

  Se a patrocinadora da festa não tem como fazer um investimento assim, não precisa ficar com peso na consciência. Normalmente a lista de convidadas para esses eventos é formada por pessoas jovens, não apenas avós (e mesmo assim existem as mais modernas) e os convites podem ser enviados por e-mail, um meio de comunicação que faz parte de nossas rotinas. Não é indelicado, envie uma arte bonita como se fosse o convite impresso. Apenas tenha um cuidado redobrado para conferir se todas receberam, se nenhum e-mail ficou preso na caixa de spans. Vale telefonar para confirmar a presença.
