---
kind: article
priority: 0.7
url: o-que-e-RSVP
title: O que é RSVP?
excerpt: Descubra formas delicadas de confirmar a presença dos seus convidados permitindo que a organização do seu casamento seja ainda mais completa.
created_at: 2014-03-10
author_name: Andressa Carrara
author_uri: 107186646809115232165
tags:
  - Convidados
---

markdown:
  RSVP é a sigla para a expressão Répondez S’il Vous Plait, que em francês significa Responda por Favor. Essa solicitação é feita aos convidados para que eles confirmem sua presença, ou não, em diversos tipos de eventos e vem sendo usada cada vez mais em casamentos para um controle maior do número de pessoas que comparecerão à festa, a fim de facilitar o planejamento e a organização do evento, como os serviços de buffet, doces, bem casados e lembrancinhas.

  O RSVP deve ser incluso no rodapé do convite, com a indicação de pelo menos um canal de contato: e-mail, telefone ou lista virtual caso os noivos tenham elaborado um site para o casal.
  
  Algumas assessorias oferecem este serviço, porém existem empresas especializadas no setor, caso da [Invitare Express](www.invitareexpress.com.br), que gentilmente colaborou com esta matéria.

  Existem duas modalidades, o RSVP Receptivo em que parte dos convidados entrarem em contato com a empresa para confirmarem sua presença, o RSVP Ativo em que uma pessoa da empresa aborda os convidados, geralmente por telefone a partir de uma lista de nomes e números disponibilizada pelo casal, para confirmar a presença deles.

  É importante estipular um limite para que o convidado dê o seu retorno. A Invitare Express trabalha com o prazo de 20 dias de antecedência ao evento para o RSVP Receptivo. Caso não haja a confirmação pelo próprio convidado é necessário transformar o serviço em RSVP Ativo.

  A partir desse momento, o prazo máximo é de 15 dias para que a empresa realize as ligações e confirme a presença dos convidados. Isso permite uma margem de tempo para os noivos se organizarem com antecedência.

  Apesar do RSVP Receptivo ser mais amigável, pois parte da própria pessoa entrar em contato sem que ninguém “cobre” dela uma resposta, Guilherme Turri, sócio da Invitare Express nos contou que o retorno de RSVP Receptivo é muito baixo, pois aproximadamente 30% dos convidados entram em contato espontâneamente para confirmar a sua presença. Por esse motivo ele sempre recomenda aos noivos contratarem as duas modalidades de RSVP (Ativo e Receptivo).

  Esta é uma questão cultural. Na Europa, nos Estados Unidos existe o hábito de confirmar presença, e nós aqui no Brasil muitas vezes deixamos para decidir no último instante se iremos ou não à algum evento. Só quem passa pela experiência entende como é fundamental ter uma noção precisa do número de convidados.

  Alguns casais não têm como investir na contratação do serviço especializado e para não ficarem contando com a sorte sem saber ao certo quantas pessoas a festa deverá comportar, muitas noivas optam por elas mesmas, com a ajuda da mãe e da sogra, organizarem as confirmações. Porém existem alguns pontos negativos a se considerar:

  - Se a confirmação for por telefone, ou mesmo por e-mail, muitas pessoas que não irão ficarão constrangidas em negar a participação diretamente para a noiva e os familiares, se sentindo na obrigação de inventar uma desculpa plausível, ou confirmar a presença sem de fato ir.
  - Alguns convidados podem ligar justo na hora que ninguém está em casa para atender, e depois acabam esquecendo de retornar a ligação.
  - A lista pelo site pode dificultar o acesso aos convidados mais idosos e conquistar menor participação.
  - Uma forma de contornar os casos de “pessoas esquecidas” é fazer o RSVP Ativo, como explicamos. Porém eu penso que é indelicado a própria noiva, ou as mães cobrarem uma resposta oficial dos parentes e amigos.

  O casal, melhor do que ninguém, conhece a dinâmica da própria família. Vale ponderar nessa relação custo benefício qual caminho deixará os noivos e convidados mais à vontade, sem perder o controle que uma festa de casamento requer.
