---
kind: article
priority: 0.7
url: como-enderecar-convites
title: Como endereçar convites de casamento
excerpt: Aqui vocês encontram algumas regras para escrever nomes em convites de casamento. E como toda regra tem sua exceção, com bom senso, vocês podem adaptá-las com criatividade.
created_at: 2014-03-10
author_name: Andressa Carrara
author_uri: 107186646809115232165
tags:
  - Convites
---

markdown:
  O convite de casamento é a primeira impressão que os convidados terão do evento, por isso ele já deve antecipar o que as pessoas vão vivenciar nesse dia. Se os noivos optaram por uma festa formal, o convite deve trazer o nome completo do convidado, se for mais informal, não há nada de errado escrever apenas o primeiro nome. Os convites de casamento são entregues por famílias ou grupos de pessoas, e não individualmente. Por isso, mesmo com a lista de convidados definida, é necessário fazer uma nova listagem para a confecção dos envelopes.

  No caso dos eventos mais formais, os noivos precisam saber os nomes completos de todos os convidados (inclusive de esposas, namorados, filhos de parentes e amigos). E como é muito deselegante aparecer um nome com a grafia errada, o casal pode contar com a ajuda das mães para recolher o nome de todos os familiares, de amigas e primas que casaram recentemente e também passaram por esse processo, ou ainda telefonar para cada um, afinal perguntar não ofende.

  Procure personalizar ao máximo o destinatário dos convites, respeitando sempre a hierarquia da família, como os mais idosos que moram na residência e os casais. Não é indelicado especificar quem está de fato sendo convidado, se a família inteira, apenas um integrante, ou um casal. Isso evita que o número de convidados se exceda, prejudicando a recepção. Particularmente penso ser mais delicado deixar claro quem está sendo convidado do que anexar convites individuais no número exato de pessoas como “ingressos” para seu evento.

  Abaixo seguem algumas situações e como devemos proceder em cada uma delas (os nomes são fictícios)

  Tios, irmãos, avós
  ------------------

  Os parentes próximos podem ser convidados de maneira mais carinhosa e acolhedora.
  “Aos amados avós Luiz e Rosa” ou ainda usar apelidos “À Querida Tia Tata”.

  Casais jovens, com união informal
  ---------------------------------

  O nome da mulher pode vir à frente e não é necessário colocar pronomes.
  Ex: Juliana Teixeira e Wagner Dias

  Se ainda forem namorados, o ideal é enviar convites distintos para o caso de uma separação próxima a data do casamento.

  Casais com uma união formal
  ---------------------------

  Deve-se adotar o padrão que eles próprios definiram. Se eles trocaram seus sobrenomes após o casamento, o correto é Sr. e Sra. de Castro Silva. Caso eles tenham mantido seus sobrenomes de solteiro, então o convite deve ser escrito em nome de Sr. Paulo de Castro Silva e Sra. Raquel Pereira Santos. Em ambos os casos, o nome do homem deve vir à frente.

  Casais com filhos
  -----------------

  Se os noivos quiserem convidar os filhos de um casal, e estes ainda morarem com os pais, valem as regras acima somando a palavra “família”.
  Ex: Sr. e Sra. de Castro Silva e Família

  A expressão “e Família” abrange o convite para todas as pessoas que moram  na mesma residência: pais, filhos, e também se houver, avós, sobrinhos... De acordo com a idade dos filhos, os noivos devem estar preparados para receber também os namorados (as) acompanhantes.

  Caso os filhos já morem sozinhos, o correto é enviar convites separados para as duas residências e se certificar sobre o nível de relacionamento da pessoa. Se for algo mais sólido, como um namoro de muitos anos, ou até um noivado, é elegante acrescentar o nome do companheiro ao convite.

  Os colegas de trabalho podem ter filhos pequenos que inevitavelmente estarão presentes no seu casamento. Mas também podem ter adolescentes em casa que não gostarão de ir no casamento dos amigos dos pais. Vale analisar caso a caso, para estender ou não o convite a eles.

  Os noivos que escolherem a opção mais formal, podem inserir o endereço dos pais na assinatura do convite. Os mais modernos, principalmente se já morarem juntos, podem colocar o endereço do próprio casal. Vale conferir as regras que cada condomínio tem para o recebimento de encomendas a fim de viabilizar a entrega dos presentes.
